{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Badges",
    "license": {
      "name": "MIT"
    }
  },

  "servers": [
    {
      "url": "https://img.shields.io"
    }
  ],

  "components": {
    "parameters": {
      "logo": {
        "name": "logo",
        "in": "query",
        "required": false,
        "description": "Logo",
        "schema": {
          "type": "string"
        }
      },
      "logoColor": {
        "name": "logoColor",
        "in": "query",
        "required": false,
        "description": "Logo Color",
        "schema": {
          "type": "string"
        }
      }
    }
  },

  "paths": {
    "/bitbucket/pipelines/{user}/{repo}": {
      "get": {
        "summary": "Bitbucket Pipelines",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo",
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/logo"},
          {"$ref": "#/components/parameters/logoColor"}
        ],
        "x-code-samples": [
            {
                "lang": "URL",
                "label": "URL",
                "source": "$url"
            },
            {
                "lang": "Markdown",
                "label": "Markdown",
                "source": "![Bitbucket Pipelines]($url)"
            },
            {
                "lang": "reStructuredText",
                "label": "rSt",
                "source": ".. image:: $url\n:   alt: Bitbucket Pipelines"
            },
            {
                "lang": "AsciiDoc",
                "label": "AsciiDoc",
                "source": "image:$url[Bitbucket Pipelines]"
            },
            {
                "lang": "HTML",
                "label": "HTML",
                "source": "<img alt=\"Bitbucket Pipelines\" src=\"$url\">"
            }
        ]
      }
    },
    "/bitbucket/pipelines/{user}/{repo}/{branch}": {
      "get": {
        "summary": "Bitbucket Pipelines with branch",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "description": "Branch",
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/logo"},
          {"$ref": "#/components/parameters/logoColor"}
        ],
        "x-code-samples": [
            {
                "lang": "URL",
                "label": "URL",
                "source": "$url"
            },
            {
                "lang": "Markdown",
                "label": "Markdown",
                "source": "![Bitbucket Pipelines]($url)"
            },
            {
                "lang": "reStructuredText",
                "label": "rSt",
                "source": ".. image:: $url\n:   alt: Bitbucket Pipelines"
            },
            {
                "lang": "AsciiDoc",
                "label": "AsciiDoc",
                "source": "image:$url[Bitbucket Pipelines]"
            },
            {
                "lang": "HTML",
                "label": "HTML",
                "source": "<img alt=\"Bitbucket Pipelines\" src=\"$url\">"
            }
        ]
      }
    },

    "/drone/build/{user}/{repo}": {
      "get": {
        "summary": "Drone (self-hosted)",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "server",
            "in": "query",
            "required": true,
            "description": "Server",
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/logo"},
          {"$ref": "#/components/parameters/logoColor"}
        ],
        "x-code-samples": [
            {
                "lang": "URL",
                "label": "URL",
                "source": "$url"
            },
            {
                "lang": "Markdown",
                "label": "Markdown",
                "source": "![Drone Build]($url)"
            },
            {
                "lang": "reStructuredText",
                "label": "rSt",
                "source": ".. image:: $url\n:   alt: Drone Build"
            },
            {
                "lang": "AsciiDoc",
                "label": "AsciiDoc",
                "source": "image:$url[Drone Build]"
            },
            {
                "lang": "HTML",
                "label": "HTML",
                "source": "<img alt=\"Drone Build\" src=\"$url\">"
            }
        ]
      }
    },

    "/npm/v/{packageName}": {
      "get": {
        "summary": "NPM Version",
        "parameters": [
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "description": "Package Name",
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/logo"},
          {"$ref": "#/components/parameters/logoColor"}
        ],
        "x-code-samples": [
            {
                "lang": "URL",
                "label": "URL",
                "source": "$url"
            },
            {
                "lang": "Markdown",
                "label": "Markdown",
                "source": "![NPM Version]($url)"
            },
            {
                "lang": "reStructuredText",
                "label": "rSt",
                "source": ".. image:: $url\n:   alt: NPM Version"
            },
            {
                "lang": "AsciiDoc",
                "label": "AsciiDoc",
                "source": "image:$url[NPM Version]"
            },
            {
                "lang": "HTML",
                "label": "HTML",
                "source": "<img alt=\"NPM Version\" src=\"$url\">"
            }
        ]
      }
    }
  }
}
