{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Swagger Petstore",
    "license": {
      "name": "MIT"
    }
  },

  "servers": [
    {
      "url": "https://img.shields.io"
    }
  ],

  "components": {
    "parameters": {
      "logo": {
        "name": "logo",
        "in": "query",
        "required": false,
        "description": "Logo",
        "schema": {
          "type": "string"
        }
      },
      "logoColor": {
        "name": "logoColor",
        "in": "query",
        "required": false,
        "description": "Logo Color",
        "schema": {
          "type": "string"
        }
      }
    }
  },

  "paths": {
    "/bitbucket/pipelines/{user}/{repo}": {
      "get": {
        "summary": "Bitbucket Pipelines",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo",
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/logo"},
          {"$ref": "#/components/parameters/logoColor"}
        ]
      }
    },
    "/bitbucket/pipelines/{user}/{repo}/{branch}": {
      "get": {
        "summary": "Bitbucket Pipelines with branch",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "description": "Branch",
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/logo"},
          {"$ref": "#/components/parameters/logoColor"}
        ]
      }
    },

    "/drone/build/{user}/{repo}": {
      "get": {
        "summary": "Drone (self-hosted)",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "description": "Repo",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "server",
            "in": "query",
            "required": true,
            "description": "Server",
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/logo"},
          {"$ref": "#/components/parameters/logoColor"}
        ]
      }
    },

    "/npm/v/{packageName}": {
      "get": {
        "summary": "NPM Version",
        "parameters": [
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "description": "Package Name",
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/logo"},
          {"$ref": "#/components/parameters/logoColor"}
        ]
      }
    }
  }
}
